@import "../utilities/variables";

.fr-user {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 3.3rem;
    position: relative;
    gap: 0.3rem;
    margin-bottom: 0.3rem;

    &__info {
        margin-bottom: 3.3rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        & > * {
            margin-right: 0.6rem;
        }

        &__description {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 0.6rem;
        }
    }

    &__name {
        width: 10rem;
        font-weight: 500;
        font-size: 1.3rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin: 0;

        &-wrapper {
            line-height: 1.6rem;
        }
    }
}
