/* 배경색 */
$fr-bg-color: #f7f7f8;
/* 테두리 */
$fr-box-border: 1px solid #e6e6e6;
/* 테두리 반경 */
$fr-border-radius: 4px;
/* 버튼색 */
$fr-btn-color: #2e6bd8;
/* header box shadow */
$fr-header-shadow: 0 1px 2px rgba(0, 0, 0, 0.15), 0 0 2px rgba(0, 0, 0, 0.1);
/* info color */
$fr-info-color: #358597;
$breakpoints: (
    xs: 576px,
    sm: 768px,
    md: 992px,
    lg: 1200px,
    wd: 1500px
);
