@import "../utilities/mixins";

.fr-card {
    margin-bottom: 1rem;
    flex-basis: 20%;
    max-width: 20%;
    padding: 0 1rem;

    &-wrapper {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin: 0 -1rem;
    }

    &-selector {
        display: flex;
        flex-direction: column;
        height: 100%;
        box-shadow: rgba(0, 0, 0, 0.04) 0px 4px 16px 0px;

        @include wb;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        order: 1;
        padding: 5px;

        &__avatar {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 5px;
        }
    }

    &__img {
        position: absolute;
        left: 0px;
        width: 100%;
        height: 100%;
        top: 0px;

        &-wrapper {
            position: relative;
            width: 100%;
            cursor: pointer;
        }

        &-bg {
            padding-bottom: 56.25%;
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        order: 2;
        width: 100%;
        cursor: pointer;

        &__title {
            display: table-cell;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 20px;
            font-weight: 500;

            &-wrapper {
                display: table;
                table-layout: fixed;
                width: 100%;
                white-space: nowrap;
                margin-bottom: 5px;
                padding: 5px;
            }
        }

        &__description {
            display: -webkit-box;
            font-size: 0.875rem;
            line-height: 1.5;
            height: 2.5rem;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            padding: 0 5px;
        }

        &__meta {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px;

            & span {
                margin-right: 5px;
            }
        }
    }
}
