@import "../utilities/mixins";

.fr-modal {
    &-auth {
        &__upload {
            width: 100%;
            height: 150px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 10px;
            cursor: pointer;

            & img {
                width: 100%;
                height: 100%;
            }

            @include wb;
        }
    }
    &-notice {
        &__description {
            &--readonly {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 300px;
                overflow: auto;
                background: white;
                padding: 15px;

                @include wb;

                &.preivew {
                    z-index: 10;

                    & > span {
                        position: absolute;
                        top: 5px;
                        right: 5px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
