@import "../utilities/variables";

.fr-comment {
    display: flex;
    flex-direction: column;
    border-top: $fr-box-border;
    padding-top: 1rem;
    padding-bottom: 1rem;

    &__info {
        margin-bottom: 3.3rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        & > * {
            margin-right: 0.6rem;
        }
    }

    &__extension {
        flex: 1;
        text-align: right;
        position: relative;
    }

    &__submit {
        display: flex;
        justify-content: space-between;

        & > button {
            flex: 1;
        }

        & > button:nth-child(1) {
            background: $fr-info-color;
            border: 1px solid $fr-info-color;
        }
    }
}
