@import "../utilities/variables";

.fr-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: 0 auto;
    padding: 0 0.6rem;
    position: relative;

    &-wrapper {
        height: 3rem;
        background: white;
        border-bottom: $fr-box-border;
        box-shadow: $fr-header-shadow;
        flex-shrink: 0;
        z-index: 1000;

        & svg {
            fill: $fr-btn-color;
        }
    }

    &-column {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        & > * {
            margin-left: 0.6rem;
        }
    }

    &__logo {
        width: 2rem;
        height: 2rem;
    }

    &__notice {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-left: 0.6rem !important;

        & u {
            margin-left: 0.3rem;
            cursor: pointer;
        }
    }

    &__search {
        &-wrapper {
            border: none;
            background: white;
            position: absolute;
            top: calc(3rem - 3px);
            left: 0;
            width: 100%;
            height: auto;
            padding: 0.6rem;
            box-shadow: $fr-header-shadow;
        }

        &__form {
            position: relative;
            margin: 0 auto;
            width: 33rem;
        }

        &__input {
            padding: 0.3rem !important;
            font-size: 1rem !important;
            text-align: center;
            position: relative;

            &::placeholder {
                opacity: 0.8;
                font-weight: 200;
            }

            &-wrapper {
                position: relative;
            }
        }
    }
}
